<!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
/>
<footer id="dk-footer" class="dk-footer mt-5" style="margin-top: 100px!important;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <a href="index.html" class="footer-logo">
            <img
              src="../../assets/icons/spotify_logo.png"
              alt="footer_logo"
              class="img-fluid icon-footer"
            />
          </a>
          <p class="footer-info-text">
            Integración de Sistemas Informáticos (ISI)
          </p>
          <div class="footer-social-link">
            <h3>Sígueme</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-awarad">
          <p>Agustín Sánchez Martín</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <div class="contact-info">
                <h3>Ciudad Real, 13071</h3>
                <p>Paseo Universidad, Nº 4</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="contact-info">
                <h3>Email</h3>
                <a href="mailto:cipote@gmail.es"
                  >Agustin.Sanchez9&#64;alu.uclm.es</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Useful Links</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a routerLink="about">About</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Copyright © 2024, All Right Reserved Agustín Sánchez Martín</span>
        </div>
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a routerLink="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
</footer>
