<!-- Section: Timeline -->
<section class="py-5 white-text mb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4 time-line-section mr-1">
        <h2 class="mb-4 mt-4">About</h2>
        <p>
          Trabajo de integración de diferentes servicios web. Para ello se han
          utilizado los siguientes servicos:
        </p>
        <ul>
          <li>
            <strong><i>Spotify</i></strong
            >, Utilizado para la búsqueda y reproducción de una amplia variedad
            de canciones. La integración con Spotify no solo enriquece la
            biblioteca musical disponible, sino que también ofrece una
            experiencia de reproducción fluida y personalizada.
          </li>
          <li>
            <strong><i>Lyrics.ovh</i></strong
            >, Incorporado para obtener las letras de las canciones de manera
            eficiente. Esta integración permite acceder a la información lírica,
            enriqueciendo la experiencia del usuario y proporcionando detalles
            adicionales sobre las composiciones musicales.
          </li>
          <li>
            <strong><i>Genius</i></strong
            >, Se ha integrado para la obtención de descripciones detalladas de
            las canciones. Al aprovechar la base de datos extensa de Genius,
            podemos ofrecer información adicional sobre el significado, contexto
            y curiosidades relacionadas con cada obra musical, enriqueciendo así
            la comprensión del usuario.
          </li>
          <li>
            <strong><i>Youtube</i></strong
            >, Para poder visualizar los videoclips oficiales y poder ver a tus
            artistas favoritos se integra el servicio de Youtube. Esto nos da
            acceso a una gran cantidad de contenido multimedia y te permite
            disfrutar de tu música mientras estás escuchando o viendo un video.
          </li>
          <li>
            <strong><i>White.qrd.by</i></strong
            >, La implementación de este servicio facilita la reproducción de la
            canción en dispositivos móviles a través de Spotify mediante el
            escaneo del código QR que se genera, permitiendo un acceso rápido y
            sencillo desde cualquier lugar.
          </li>
        </ul>
        <p>
          Esta estrategia de integración de servicios web ha sido diseñada con
          el objetivo de ofrecer una experiencia completa y enriquecedora para
          los usuarios, abarcando desde la búsqueda y reproducción de canciones
          hasta la obtención de letras detalladas y descripciones
          significativas.
        </p>
      </div>
      <div class="col col-lg-7 time-line-section">
        <div class="row mt-4">
          <p class="mb-5">
            En esta sección, nos proponemos proporcionar un resumen conciso y
            estructurado de los diversos sprints que llevarán a cabo el
            desarrollo del proyecto hasta su culminación. Cada sprint representa
            una fase definida en nuestro itinerario, donde abordaremos tareas
            específicas y avanzaremos hacia la consecución de nuestros
            objetivos. Este espacio servirá como un registro central, ofreciendo
            una visión general de los logros, desafíos y progresos a medida que
            nos acercamos a la entrega final.
          </p>
        </div>

        <ul class="timeline">
          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Sprint 1</h5>
            <p class="text-muted mb-2 fw-bold">27 Febrero 2024</p>
            <p class="text-muted">
              El listado de tareas del Sprint 1:<br>
              - Nombre de la compañía, grupo y roles tecnológicos<br>
              - Motivación<br>
              - Casos de uso<br>
              - TAM & SAM, perfil del cliente<br>
              - KPIs & OKR<br>
              - Repositorio<br>
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Sprint 2</h5>
            <p class="text-muted mb-2 fw-bold">12 Marzo 2024</p>
            <p class="text-muted">
              El listado de tareas del Sprint 2:<br>
              - Contrato Mercantil de alcance del proyecto.<br>
              - Arquitectura Global detallada.<br>
              - Tecnologías usadas.<br>
              - Prototipo<br>
              - MockUp de GUI<br>
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Sprint 3</h5>
            <p class="text-muted mb-2 fw-bold">2 Abril 2024</p>
            <p class="text-muted">
              El listado de tareas del Sprint 3:<br>
              - Integración del sistema, funcionalidad total.<br>
              - Tests de integración.<br>
              - Documento de usuario.<br>
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Sprint 4</h5>
            <p class="text-muted mb-2 fw-bold">16 Abril 2024</p>
            <p class="text-muted">
              El listado de tareas del Sprint 4:<br>
              - Automatización del despliegue y monitorización de la herramienta.<br>
              - Documentación final.<br>
              - Análisis de viabilidad del producto.<br>
            </p>
          </li>

          
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Section: Timeline -->
