<div class="container bg-container mt-5">
  <img src="../../assets/icons/spotify_logo.png" width="25%" alt="" />

  <h2 class="loginhead mt-5">To continue, log in to SpotyROM.</h2>
  <div class="or">
    <hr class="bar" />
    <span class="loginhead"><h3>or</h3></span>
    <hr class="bar" />
  </div>
  <div class="inputs">
    <input
      type="email"
      placeholder="Email address or username"
      id="floatingInputEmail"
      #emailInput
    />
    <input
      type="password"
      placeholder="Password"
      id="floatingPassword1"
      #pwd1Input
    />
  </div>
  <div class="login">
    <input class="white-color" type="checkbox" name="remember-me" /><label
      class="white-color"
      for="remember-me"
      >Remember Me</label
    >
    <span class="checkmark"></span>
    <button (click)="doLogin(emailInput.value, pwd1Input.value)">Log In</button>
  </div>
  <a href="#">Forgot your password?</a>
  <hr class="bar2" />
  <h1 class="white-color">Don't have an account?</h1>
  <div class="signup-btn">
    <button (click)="this.redirect()">Sign Up for spotyrom</button>
  </div>
  <hr class="bar3" />
  <p class="white-color">
    When u click "Sign Up" and are not a Spotify user, you will be
    registered and you agree to SpotyROM's <a href="#">Terms & Conditions</a> and
    <a href="#">Privacy Policy.</a>
  </p>
</div>
