/* You can add global styles to this file, and also import other style files */
body {
    background-color: black !important;
}

.white-text {
    color: white !important;
}

.justified-text {
    text-align: justify;
}

.transparent-bg {
    background-color: transparent !important;
}

.border-none {
    border-right: none !important;
}