<div class="container bg-container mt-5">
  <img src="../../assets/icons/spotify_logo.png" width="25%" alt="" />

  <h2 class="loginhead mt-5">To continue, sign in to SpotyROM.</h2>
  <div class="or">
    <hr class="bar" />
    <span class="loginhead"><h3>or</h3></span>
    <hr class="bar" />
  </div>
  <div class="inputs">
    <input
      type="text"
      placeholder="Username"
      id="floatingInputEmail"
      #nameInput
    />
    <input
      type="email"
      placeholder="Email address"
      id="floatingInputEmail"
      #emailInput
    />
    <input
      type="password"
      placeholder="Password"
      id="floatingPassword1"
      #pwd1Input
    />
    <input
      type="password"
      placeholder="Password"
      id="floatingPassword2"
      #pwd2Input
    />
  </div>
  <div class="login">
    <input class="white-color" type="checkbox" name="remember-me" /><label
      class="white-color"
      for="remember-me"
      >Remember Me</label
    >
    <span class="checkmark"></span>
    <button
      (click)="
        doRegister(
          nameInput.value,
          emailInput.value,
          pwd1Input.value,
          pwd2Input.value
        )
      "
    >
      Sign In
    </button>
  </div>
 
  <hr class="bar3" />
  <p class="white-color">
    When u click "Sign Up" and are not a SpotyROM user, you will be
    registered and you agree to SpotyROM's <a href="#">Terms & Conditions</a> and
    <a href="#">Privacy Policy.</a>
  </p>
</div>
